#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-01815de2-e3a9-4b47-93ef-62cd650910b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}