#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Settings-Screen {
  border-collapse: separate;
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Rich_text_23 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_6 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_6 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_7 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_7 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_8 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_8 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_10 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_10 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_11 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_11 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_13 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_13 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_14 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_14 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_15 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_15 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_4 {
  stroke-width: 2px;
  stroke: #B5B5B6;
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Line_4 {
  stroke-width: 2px;
  stroke: #B5B5B6;
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Ellipse_6 {
  stroke-width: 2px;
  stroke: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Plus-item {
  -ms-transform: rotate(0.0deg);
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-08cb5eaa-c8b2-4764-b143-cba4b0b22467 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}