#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-14bb1b23-a712-40a0-b302-ac03e79bce1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}