#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Settings-Screen {
  border-collapse: separate;
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Rich_text_23 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Plus-item {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1b58921a-6caf-4f56-a7cb-9cd0869fe9c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}