#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Input-text_3 INPUT {
  font-family: Arial;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Input-text_4 INPUT {
  font-family: Arial;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Line_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1ff2d622-a774-4efd-be85-f6b591982fef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}