#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Rich_text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Rich_text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Label_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Label_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-366e2b9f-7ba7-4066-8640-f4693c6c4884 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}