#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 > #alignmentBox {
  position: relative;
  max-width: 320px;
  max-height: 568px;
  width: 100%;
  height: 100%;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Description-Details-screen {
  position: absolute;
  width: 322px;
  height: 567px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Description-Details-screen > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Description-Details-screen > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Cell-header .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Cell-header td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Cell-header .verticalalign {
  vertical-align: middle;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Cell-header {
  width: 322px;
  height: 64px;
  background-color: #663FFB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Header-top {
  position: absolute;
  width: 319px;
  height: 64px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_22 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #663FFB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_22 {
  position: absolute;
  width: 319px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_22 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_22 > .paddingLayer {
  height: 63px;
  width: 319px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_87 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_87 {
  position: absolute;
  width: 197px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_87 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_87 > .paddingLayer {
  height: 29px;
  width: 197px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_87 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Statusbar-white {
  position: absolute;
  width: 319px;
  height: 20px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rectangle_3 {
  position: absolute;
  width: 319px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rectangle_3 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rectangle_3 > .paddingLayer {
  height: 19px;
  width: 319px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_31 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_31 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_31 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_31 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Group_13 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_7 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_7 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Ellipse_7 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_10 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_10 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Ellipse_10 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_14 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_14 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_14 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_14 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Ellipse_14 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_16 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_16 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_16 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_16 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Ellipse_16 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_17 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_17 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_17 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_17 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Ellipse_17 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_17 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_53 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_53 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_53 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_53 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_15 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_15 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_15 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_24 > svg {
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_24 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_24 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_24 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_32 > svg {
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_32 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_32 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_32 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_2 > svg {
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_2 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_2 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Cell-content .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Cell-content td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Cell-content .verticalalign {
  vertical-align: middle;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Cell-content {
  width: 322px;
  height: 503px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_207 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_207 {
  position: absolute;
  width: 319px;
  height: 213px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_207 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_207 > .paddingLayer {
  height: 196px;
  width: 287px;
  padding-top: 17px;
  padding-bottom: 0px;
  padding-left: 17px;
  padding-right: 15px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_207 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_207 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Rich_text_207 span#rtr-s-Rich_text_207_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_1 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_1 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_1 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_1 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_2 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Input_1 {
  position: absolute;
  width: 108px;
  height: 26px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  min-height: 11.0pt;
  text-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Input_1 > .paddingLayer {
  height: 24px;
  width: 91px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_3 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_3 span {
  color: #663FFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #663FFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_4 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_4 span {
  color: #663FFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #663FFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_150 > svg {
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_150 {
  position: absolute;
  width: 46px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_150 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_150 > svg {
  height: 46px;
  width: 46px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_28 > svg {
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_28 {
  position: absolute;
  width: 34px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_28 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_28 > svg {
  height: 33px;
  width: 34px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_30 > svg {
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_30 {
  position: absolute;
  width: 35px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_30 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_30 > svg {
  height: 30px;
  width: 35px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_16 > svg {
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_16 {
  position: absolute;
  width: 32px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_16 > img, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Image_16 > svg {
  height: 35px;
  width: 32px;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_5 > .clipping, #s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3e36903c-1e5f-404e-bd16-4fc487b6b178 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}