#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}