#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Button_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89);
  filter: alpha(opacity=89);
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-434da1af-3d7b-4424-9b11-af906e6f4b2e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}