#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-458d89a8-0859-4242-a41c-f05c1a2b4019 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}