#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Input-text_3 INPUT {
  font-family: Arial;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-57969637-a97d-42c4-9c8c-3b7f6b1496fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}