#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}