#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd #s-Category_5-options {
  background-color: #FFFFFF;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5960f1c8-6832-4732-a4e7-1aded6eff4cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}