#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}