#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Rectangle_3 {
  -pie-background: linear-gradient(to bottom,#3705F9,#663FFB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Line_1 {
  stroke-width: 3px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Line_1 {
  stroke-width: 3px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5f0e52c2-56f1-4b75-8bfd-ab91b26280e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}