#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 #s-Category_3-options {
  background-color: #FFFFFF;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-69531366-91c0-4fae-86bb-18aa9cedeca5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}