#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Line_1 {
  stroke-width: 3px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Line_1 {
  stroke-width: 3px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6d60d385-673e-43e2-a47d-8ccb73c0b378 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}