#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6f0c6009-5d36-467d-820f-3c10386b4238 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}