#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Inbox-Screen {
  border-collapse: separate;
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Cell-center > .valign {
  vertical-align: top;
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Rich_text_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Line_21 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Line_21 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-dot-blue {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Label_77 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Line_22 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Line_22 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Label_78 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-749fc376-9aba-4295-a025-ae7903a3edd3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}