#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Line_14 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Line_14 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Line_15 {
  stroke-width: 3px;
  stroke: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Line_15 {
  stroke-width: 3px;
  stroke: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Rectangle_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue_3 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue_4 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue_5 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue_6 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue_7 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-dot-light-bue_8 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-75f431b8-e0ef-4898-b2a8-a7b6092ba43a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}