#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7bd3a9cb-a6b3-4cf9-990c-5422a4f20c2d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}