#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Plus-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7cd45cf8-d503-4741-8806-d0d5189d53de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}