#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Rich_text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Rich_text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7eea3bb0-80eb-4bd7-bc66-e6d477c7343e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}