#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Input-text INPUT {
  font-family: Arial;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-830ae0da-ee4f-4340-9cb1-624824f51e6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}