#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Rich_text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_9 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_9 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Rich_text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_10 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_10 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_11 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_11 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_12 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_12 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_157 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 39px;
  width: 20px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Label_84 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Label_86 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_13 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Line_13 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8312f2f6-bd8a-417d-abf0-8bb2f11ad9a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}