#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84) ;
  filter: alpha(opacity=84) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84) ;
  filter: alpha(opacity=84) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84) ;
  filter: alpha(opacity=84) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}