#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 > #alignmentBox {
  position: relative;
  max-width: 320px;
  max-height: 568px;
  width: 100%;
  height: 100%;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: url('../../images/0dfbd193-904a-41b1-98c2-86a7c249a6ad.jpg');
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 {
  position: absolute;
  width: 320px;
  height: 473px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 > .paddingLayer {
  height: 473px;
  width: 320px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #663FFB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 {
  position: absolute;
  width: 320px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 > .paddingLayer {
  height: 96px;
  width: 320px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Statusbar-black {
  position: absolute;
  width: 318px;
  height: 20px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 {
  position: absolute;
  width: 318px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 > .paddingLayer {
  height: 19px;
  width: 318px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 span#rtr-s-Label_100_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Group_25 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_38 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_38 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_38 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_38 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_38 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_38 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_38 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_38 span#rtr-s-Ellipse_38_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_39 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_39 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_39 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_39 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_39 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_39 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_39 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_39 span#rtr-s-Ellipse_39_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_40 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_40 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_40 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_40 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_40 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_40 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_40 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_40 span#rtr-s-Ellipse_40_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_41 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_41 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_41 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_41 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_41 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_41 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_41 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_41 span#rtr-s-Ellipse_41_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_42 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_42 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_42 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_42 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_42 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_42 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_42 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #shapewrapper-s-Ellipse_42 span#rtr-s-Ellipse_42_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 span#rtr-s-Label_107_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_9 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_9 > img, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_9 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_28 > svg {
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_28 {
  position: absolute;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_28 > img, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_28 > svg {
  height: 17px;
  width: 17px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_29 > svg {
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_29 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_29 > img, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_29 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_2 > svg {
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_2 > img, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_2 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button {
  position: absolute;
  width: 264px;
  height: 45px;
  opacity: 0.84;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button > .paddingLayer {
  height: 37px;
  width: 256px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button span#rtr-s-Button_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 {
  position: absolute;
  width: 264px;
  height: 45px;
  opacity: 0.84;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 > .paddingLayer {
  height: 37px;
  width: 256px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 {
  position: absolute;
  width: 264px;
  height: 45px;
  opacity: 0.84;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 > .clipping, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 > .paddingLayer {
  height: 37px;
  width: 256px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_3 > svg {
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_3 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_3 > img, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_3 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_4 > svg {
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_4 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_4 > img, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_4 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_5 > svg {
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_5 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_5 > img, #s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_5 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}