#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 256px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84);
  filter: alpha(opacity=84);
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 256px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84);
  filter: alpha(opacity=84);
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 256px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84);
  filter: alpha(opacity=84);
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a4d39a4-d30a-4d1c-bb36-8464515e3975 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}