#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Input-text_3 INPUT {
  font-family: Arial;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Input-text_4 INPUT {
  font-family: Arial;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Line_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8f38b6e5-0e34-4555-bf00-32ebd71c536a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}