#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Rich_text_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}