#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Description-Details-screen {
  border-collapse: separate;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Rich_text_207 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_150 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8f562d14-4c71-408f-93ef-9ff49cbc5af5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}