#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Plus-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-96cdd73b-1fa2-4d49-a7bd-2ec3566565e6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}