#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Line_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Line_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Input_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Category_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84);
  filter: alpha(opacity=84);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Input_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Input_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Category_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}