#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-96df1b20-ee7b-4f51-943f-b8c88a94c06b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}