#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89);
  filter: alpha(opacity=89);
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9b2ee532-fd04-4705-a6ff-c93f154e0fa0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}