#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a0d592c7-dcb4-4408-b3f0-50ddecaf7b93 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}