#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Rich_text_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Label_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Label_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a17995f0-7ec0-48e4-adc0-640219a46ab0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}