#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a22a0094-3704-49f3-aa01-568c3de47e07 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}