#s-a6ba0976-555f-439d-a5bf-2a55777af73f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f > #alignmentBox {
  position: relative;
  max-width: 320px;
  max-height: 568px;
  width: 100%;
  height: 100%;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Settings-Screen {
  position: absolute;
  width: 320px;
  height: 64px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Settings-Screen > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Settings-Screen > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Cell-header .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Cell-header td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Cell-header .verticalalign {
  vertical-align: middle;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Cell-header {
  width: 320px;
  height: 64px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Header-top {
  position: absolute;
  width: 319px;
  height: 64px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rich_text_23 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #663FFB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rich_text_23 {
  position: absolute;
  width: 319px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rich_text_23 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rich_text_23 > .paddingLayer {
  height: 63px;
  width: 319px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rich_text_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rich_text_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rich_text_23 span#rtr-s-Rich_text_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_88 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_88 {
  position: absolute;
  width: 153px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_88 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_88 > .paddingLayer {
  height: 29px;
  width: 153px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_88 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_88 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_88 span#rtr-s-Label_88_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Statusbar-white_1 {
  position: absolute;
  width: 319px;
  height: 20px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_3 {
  position: absolute;
  width: 319px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_3 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_3 > .paddingLayer {
  height: 19px;
  width: 319px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_31 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_31 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_31 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_31 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Group_15 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_7 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_7 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_7 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_11 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_11 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_11 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_11 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_15 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_15 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_15 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_15 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_15 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_15 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_15 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_15 span#rtr-s-Ellipse_15_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_18 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_18 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_18 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_18 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_18 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_18 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_18 span#rtr-s-Ellipse_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_19 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_19 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_19 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_19 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_19 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_19 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_19 span#rtr-s-Ellipse_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_53 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_53 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_53 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_53 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_15 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_15 > img, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_15 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_24 > svg {
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_24 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_24 > img, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_24 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_31 > svg {
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_31 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_31 > img, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_31 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_13 > svg {
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_13 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_13 > img, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_13 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #676CFB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_1 {
  position: absolute;
  width: 321px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_1 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_1 > .paddingLayer {
  height: 47px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_1 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_2 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_3 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-vlines {
  position: absolute;
  width: 318px;
  height: 11px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_6 marker {
  fill: #A9A9A9;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_6 {
  position: absolute;
  width: 11px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_6 {
  width: 11px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_7 marker {
  fill: #A9A9A9;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_7 {
  position: absolute;
  width: 11px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_7 {
  width: 11px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_8 marker {
  fill: #A9A9A9;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_8 {
  position: absolute;
  width: 11px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_8 {
  width: 11px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_10 marker {
  fill: #A9A9A9;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_10 {
  position: absolute;
  width: 11px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_10 {
  width: 11px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_11 marker {
  fill: #A9A9A9;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_11 {
  position: absolute;
  width: 11px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_11 {
  width: 11px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_13 marker {
  fill: #A9A9A9;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_13 {
  position: absolute;
  width: 11px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_13 {
  width: 11px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_14 marker {
  fill: #A9A9A9;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_14 {
  position: absolute;
  width: 11px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_14 {
  width: 11px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_15 marker {
  fill: #A9A9A9;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_15 {
  position: absolute;
  width: 11px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_15 {
  width: 11px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_4 marker {
  fill: #B5B5B6;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Line_4 {
  position: absolute;
  width: 280px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_4 {
  width: 280px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #B5B5B6;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_6 > .shapert-clipping {
  width: 30px;
  height: 30px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  width: 30px;
  height: 30px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_6 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_6 {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_6 {
  width: 28px;
  height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #FFFFFF;
  background-image: none;
  stroke-width: 2px;
  stroke: #D9D9D9;
  box-shadow: 2px 2px 0px 0px #CCCCCC;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_4 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Category_1 {
  position: absolute;
  width: 318px;
  height: 104px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Category_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Category_1 > .scroll {
  height: 104px;
  width: 318px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_2 {
  position: absolute;
  width: 102px;
  height: 108px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_2 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_2 > .paddingLayer {
  height: 108px;
  width: 102px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_5 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_6 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_7 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 26px;
  height: 25px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 26px;
  height: 25px;
  position: absolute;
  overflow: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 26px;
  height: 25px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 26px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_1 {
  width: 26px;
  height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Plus-item > svg {
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Plus-item {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Plus-item > img, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Plus-item > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_8 > .clipping, #s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}