#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_6 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_7 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_8 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_10 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_11 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_13 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_14 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_15 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Plus-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a6ba0976-555f-439d-a5bf-2a55777af73f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}