#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Input_3 INPUT {
  font-family: Arial;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89) ;
  filter: alpha(opacity=89) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a6d0ba0b-3147-4d1c-bdef-d043b2fd0732 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}