#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Plus-item {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Button_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-abe73e24-d020-4d1d-a25e-c0d0ab317f65 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}