#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b74762d5-c49f-4582-a8b2-1d6358551a8c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}