#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Input-text INPUT {
  font-family: Arial;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Input-text_1 INPUT {
  font-family: Arial;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Input-text_2 INPUT {
  font-family: Arial;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}