#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Settings-Screen {
  border-collapse: separate;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Rich_text_23 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b8e1f763-4047-4aba-8511-60ddd95e484f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}