#s-bf75a69a-9866-41eb-81e3-586d73e19d49 > #backgroundBox {
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 > #alignmentBox {
  position: relative;
  max-width: 320px;
  max-height: 568px;
  width: 100%;
  height: 100%;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_2 {
  position: absolute;
  width: 320px;
  height: 421px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_2 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_2 > .paddingLayer {
  height: 421px;
  width: 320px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_2 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #663FFB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_1 {
  position: absolute;
  width: 320px;
  height: 147px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_1 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_1 > .paddingLayer {
  height: 147px;
  width: 320px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-password-field {
  position: absolute;
  width: 283px;
  height: 44px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 input::-webkit-input-placeholder {
  color: #A1A1A1;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 input::-moz-placeholder {
  color: #A1A1A1;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 input:-moz-placeholder {
  color: #A1A1A1;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 input:-ms-input-placeholder {
  color: #A1A1A1;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 {
  position: absolute;
  width: 283px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 > .paddingLayer {
  height: 39px;
  width: 268px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Line_36 marker {
  fill: #D9D9D9;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Line_36 {
  position: absolute;
  width: 272px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Line_36 {
  width: 272px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #D9D9D9;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_1 {
  position: absolute;
  width: 78px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_1 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_1 > .paddingLayer {
  height: 29px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_2 {
  position: absolute;
  width: 105px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_2 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_2 > .paddingLayer {
  height: 29px;
  width: 105px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_3 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_3 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_4 {
  position: absolute;
  width: 283px;
  height: 44px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 input::-webkit-input-placeholder {
  color: #A1A1A1;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 input::-moz-placeholder {
  color: #A1A1A1;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 input:-moz-placeholder {
  color: #A1A1A1;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 input:-ms-input-placeholder {
  color: #A1A1A1;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 {
  position: absolute;
  width: 283px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_2 > .paddingLayer {
  height: 44px;
  width: 268px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Line_35 marker {
  fill: #D9D9D9;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Line_35 {
  position: absolute;
  width: 272px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Line_35 {
  width: 272px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #D9D9D9;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_4 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button-blue > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #663FFB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button-blue {
  position: absolute;
  width: 87px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button-blue > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button-blue > .paddingLayer {
  height: 27px;
  width: 79px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button-blue span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button-blue span#rtr-s-Button-blue_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_3 {
  position: absolute;
  width: 148px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_3 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_3 > .paddingLayer {
  height: 18px;
  width: 148px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_3 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Line_1 marker {
  fill: #FFFFFF;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 160px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Line_1 {
  width: 160px;
  height: 0px;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 3px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 26.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_5 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 26.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_1 {
  position: absolute;
  width: 57px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_1 > img, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_1 > svg {
  height: 65px;
  width: 57px;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Statusbar-black {
  position: absolute;
  width: 320px;
  height: 20px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_11 {
  position: absolute;
  width: 320px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_11 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_11 > .paddingLayer {
  height: 19px;
  width: 320px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_100 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_100 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_100 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_100 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_100 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_100 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_100 span#rtr-s-Label_100_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Group_25 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_38 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_38 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_38 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_38 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_38 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_38 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_38 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_38 span#rtr-s-Ellipse_38_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_39 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_39 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_39 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_39 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_39 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_39 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_39 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_39 span#rtr-s-Ellipse_39_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_40 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_40 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_40 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_40 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_40 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_40 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_40 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_40 span#rtr-s-Ellipse_40_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_41 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_41 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_41 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_41 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_41 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_41 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_41 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_41 span#rtr-s-Ellipse_41_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_42 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_42 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_42 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_42 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_42 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_42 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_42 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #shapewrapper-s-Ellipse_42 span#rtr-s-Ellipse_42_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_107 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_107 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_107 > .clipping, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_107 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_107 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_107 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_107 span#rtr-s-Label_107_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_9 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_9 > img, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_9 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_28 > svg {
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_28 {
  position: absolute;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_28 > img, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_28 > svg {
  height: 17px;
  width: 17px;
  box-shadow: none;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_29 > svg {
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_29 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_29 > img, #s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_29 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}