#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Input-text_3 INPUT {
  font-family: Arial;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bf75a69a-9866-41eb-81e3-586d73e19d49 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}