#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c1775bae-cacf-4c3f-8417-2bda7a0ba6b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}