#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c3413f2d-e564-4f10-ad87-0248a2e0d0be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}