#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Plus-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cc65b503-f265-45c5-bbea-3d2306ee4e82 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}