#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  max-width: 320px;
  max-height: 568px;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 320px;
  height: 568px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 > img, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 > svg {
  height: 568px;
  width: 320px;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #19314C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button {
  position: absolute;
  width: 167px;
  height: 57px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .clipping, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .paddingLayer {
  height: 43px;
  width: 153px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button span#rtr-s-Button_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button span#rtr-s-Button_1 {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button span#rtr-s-Button_2 {
  color: #AE2323;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #19314C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  width: 167px;
  height: 57px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .clipping, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .paddingLayer {
  height: 43px;
  width: 153px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_1 {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_2 {
  color: #AE2323;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #19314C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 {
  position: absolute;
  width: 167px;
  height: 57px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 > .clipping, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 > .paddingLayer {
  height: 43px;
  width: 153px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 span#rtr-s-Button_2_1 {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 span#rtr-s-Button_2_2 {
  color: #AE2323;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}