#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4e22d9e-ecce-4534-9290-a4635aaa712c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}