#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Plus-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Input-text INPUT {
  font-family: Arial;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dccc2ac9-1f12-4d12-ac54-81b1aaeb552d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}