#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Plus-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dd5da454-c52e-423e-9c09-4b58de55fb8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}