#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}