#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e2450db8-dbd1-4b27-865c-7e1af0878281 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}