#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Rich_text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Rich_text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Rich_text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Rich_text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e4e68d66-9165-41a9-b5f9-2e69c03f037d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}