#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}