#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Input_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Input_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Input_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Category_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Input-text {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e881e5b4-d390-43a1-96ad-c09b022a2d2f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}