#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 > #backgroundBox {
  background-color: #D9D9D9;
  background-image: none;
  position: absolute;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 > #alignmentBox {
  position: relative;
  max-width: 320px;
  max-height: 568px;
  width: 100%;
  height: 100%;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #663FFB;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_1 {
  position: absolute;
  width: 320px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_1 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_1 > .paddingLayer {
  height: 71px;
  width: 320px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_2 {
  position: absolute;
  width: 192px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_2 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_2 > .paddingLayer {
  height: 40px;
  width: 192px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Image_2 > svg {
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Image_2 {
  position: absolute;
  width: 35px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Image_2 > img, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Image_2 > svg {
  height: 29px;
  width: 35px;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_3 {
  position: absolute;
  width: 320px;
  height: 498px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_3 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_3 > .paddingLayer {
  height: 498px;
  width: 320px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_2 {
  position: absolute;
  width: 255px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_2 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_2 > .paddingLayer {
  height: 66px;
  width: 255px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_3 {
  position: absolute;
  width: 251px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_3 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_3 > .paddingLayer {
  height: 66px;
  width: 251px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_4 {
  position: absolute;
  width: 240px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_4 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_4 > .paddingLayer {
  height: 66px;
  width: 240px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_4 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_5 {
  position: absolute;
  width: 243px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_5 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_5 > .paddingLayer {
  height: 66px;
  width: 243px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_5 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #shapewrapper-s-Line_1 marker {
  fill: #A9A9A9;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 307px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_1 {
  width: 307px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #shapewrapper-s-Line_2 marker {
  fill: #A9A9A9;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 307px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_2 {
  width: 307px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #shapewrapper-s-Line_3 marker {
  fill: #A9A9A9;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 307px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_3 {
  width: 307px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_1 {
  position: absolute;
  width: 144px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_1 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_1 > .paddingLayer {
  height: 38px;
  width: 144px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_1 span {
  color: #663FFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #663FFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_4 {
  position: absolute;
  width: 64px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_4 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_4 > .paddingLayer {
  height: 56px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_5 {
  position: absolute;
  width: 64px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_5 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_5 > .paddingLayer {
  height: 56px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_6 {
  position: absolute;
  width: 64px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_6 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_6 > .paddingLayer {
  height: 56px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_7 {
  position: absolute;
  width: 64px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_7 > .clipping, #s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_7 > .paddingLayer {
  height: 56px;
  width: 64px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}