#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ee1805fe-2ad5-4f58-994a-1b13e6d824a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}