#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 14px 14px 14px 14px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_109 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_110 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 14px 14px 14px 14px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_111 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_112 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_113 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}