#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Label_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f42840f4-e456-46cf-ba02-3452dc4fa146 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}