#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_2 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_3 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_4 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_5 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_6 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_7 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_8 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_9 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_10 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_11 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_12 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_13 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_14 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_15 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_16 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_17 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_18 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_19 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_20 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_21 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_22 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_23 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_24 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_25 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_26 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_27 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_28 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_29 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_30 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_31 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_32 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_33 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_34 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_35 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_36 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_37 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_38 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_39 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_40 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_41 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_42 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_43 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_44 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_45 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_46 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_47 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_48 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_49 {
  border-collapse: separate;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Table_50 {
  border-collapse: separate;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}