#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f9a37b60-bfaf-4d98-9930-ed7bc8009755 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}