#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}