#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Label_100 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_38 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_39 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_40 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_41 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Ellipse_42 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fea7d44b-2596-42b1-b2b7-0a4edf2d59cb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}